/* line 5, style.scss */
html, body {
  background: #fff;
  font-family: Consolas;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

/* line 13, style.scss */
.address {
  border: 1px solid #ccc;
  display: table;
}
/* line 16, style.scss */
.address .labels {
  border-bottom: 1px solid #ccc;
  display: table-row;
}
/* line 19, style.scss */
.address .labels div {
  display: table-cell;
  border-right: 1px solid #ccc;
  padding: 2px;
}
/* line 25, style.scss */
.address .values {
  display: table-row;
}
/* line 27, style.scss */
.address .values div {
  display: table-cell;
  border-right: 1px solid #ccc;
  padding: 2px;
}

/* line 36, style.scss */
#stage .cache {
  position: relative;
}
/* line 38, style.scss */
#stage .cache.state-initial {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  margin: 0 0 30px 0;
}
/* line 44, style.scss */
#stage .cache.state-initial .cache-set-container {
  display: none;
}
/* line 48, style.scss */
#stage .cache.state-initial .cache-label {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: -10px;
}
/* line 58, style.scss */
#stage .cache.state-open {
  top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 63, style.scss */
#stage .cache.state-open .cache-label {
  position: absolute;
  left: 0;
  top: -20px;
}
/* line 69, style.scss */
#stage .cache.state-open .address {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 73, style.scss */
#stage .cache.state-open .address .tag-search {
  background: #8ff;
}
/* line 79, style.scss */
#stage .cache.state-open .cache-sets-container .cache-set-container {
  position: relative;
  margin-bottom: 10px;
}
/* line 82, style.scss */
#stage .cache.state-open .cache-sets-container .cache-set-container.set-closed {
  border: 1px solid #ccc;
}
/* line 89, style.scss */
#stage .cache.state-open .cache-block .bit-group {
  display: inline-block;
  border: 1px solid #ccc;
}
/* line 92, style.scss */
#stage .cache.state-open .cache-block .bit-group.tag-bits {
  margin-right: 10px;
}
/* line 95, style.scss */
#stage .cache.state-open .cache-block .bit-group .cache-bit {
  border-right: 1px solid #ccc;
  display: inline-block;
  width: 10px;
  height: 10px;
}
/* line 100, style.scss */
#stage .cache.state-open .cache-block .bit-group .cache-bit.valid-bit {
  background: #efefef;
}
/* line 102, style.scss */
#stage .cache.state-open .cache-block .bit-group .cache-bit.valid-bit.valid {
  background: #3e3;
}
/* line 105, style.scss */
#stage .cache.state-open .cache-block .bit-group .cache-bit.valid-bit.invalid {
  background: #e33;
}
/* line 109, style.scss */
#stage .cache.state-open .cache-block .bit-group .cache-bit.flash-search {
  background: #8ff;
}
/* line 112, style.scss */
#stage .cache.state-open .cache-block .bit-group .cache-bit.flash-hit {
  background: #83f;
}
/* line 115, style.scss */
#stage .cache.state-open .cache-block .bit-group .cache-bit.flash-miss {
  background: #e33;
}
/* line 118, style.scss */
#stage .cache.state-open .cache-block .bit-group .cache-bit.hit-bit {
  background: #0A0;
  border-color: #0A0;
}
/* line 124, style.scss */
#stage .cache.state-open .cache-block.moving-block {
  background: #33a;
}
/* line 126, style.scss */
#stage .cache.state-open .cache-block.moving-block .cache-bit {
  background: #33a;
}

/* line 135, style.scss */
#main {
  height: 100%;
}

/* line 139, style.scss */
#stage-container {
  padding: 10px;
}

/* line 142, style.scss */
#stage {
  position: relative;
  height: 100%;
  overflow: auto;
}
/* line 146, style.scss */
#stage svg.arrow {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* line 154, style.scss */
#timeline {
  width: 100%;
  height: 200px;
}
/* line 157, style.scss */
#timeline .timeline-action-window {
  position: absolute;
  height: 30px;
  top: -30px;
  width: 50%;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
  right: 0px;
  padding-right: 30px;
}
/* line 168, style.scss */
#timeline .timeline-buttons {
  position: absolute;
  height: 30px;
  top: -30px;
  width: 50%;
  left: 0px;
}

/* line 177, style.scss */
.timeline-target {
  position: relative;
}
/* line 179, style.scss */
.timeline-target .timeline-container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 100%;
  overflow: hidden;
}
/* line 185, style.scss */
.timeline-target .needle {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #c33;
}
/* line 193, style.scss */
.timeline-target .axis-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 198, style.scss */
.timeline-target .axis-container .axis {
  height: 100%;
  border-left: 1px solid #ddd;
  position: absolute;
  left: 0px;
  top: 0px;
}
/* line 204, style.scss */
.timeline-target .axis-container .axis.axis-major {
  border-left: 1px solid #999;
}
/* line 209, style.scss */
.timeline-target .event-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 213, style.scss */
.timeline-target .event-container .event-element {
  position: absolute;
  height: 20px;
  background: #aae;
}
/* line 217, style.scss */
.timeline-target .event-container .event-element.active-event {
  background: #ee3;
}
