$main-background:     #fff;
$border-color:        #ccc;


html, body {
  background:$main-background;
  font-family:Consolas;
  font-size:13px;
  padding:0px;
  margin: 0px;
}

.address {
  border:1px solid $border-color;
  display:table;
  .labels {
    border-bottom:1px solid $border-color;
    display:table-row;
    div {
      display:table-cell;
      border-right:1px solid $border-color;
      padding:2px;
    }
  }
  .values {
    display:table-row;
    div {
      display:table-cell;
      border-right:1px solid $border-color;
      padding:2px;
    }
  }
}

#stage {
  .cache {
    position: relative;
    &.state-initial {
      width:100px;
      height:100px;
      border:1px solid #ccc;
      margin:0 0 30px 0;

      .cache-set-container {
        display:none;
      }

      .cache-label {
        position:absolute;
        top:50%;
        left: 0;
        width:100%;
        text-align:center;
        margin-top:-10px;
      }
    }

    &.state-open {
      top:20px;
      padding-top:50px;
      padding-bottom:50px;
    
      .cache-label {
        position:absolute;
        left:0;
        top:-20px;
      }

      .address {
        position:absolute;
        left: 0;
        top: 0;
        .tag-search {
          background:#8ff;
        }
      }
      
      .cache-sets-container {
        .cache-set-container {
          position:relative;
          margin-bottom:10px;
          &.set-closed {
            width: 60%;
            border: 1px solid #ccc;
          }
        }
      }

      .cache-block {
        .bit-group {
          display: inline-block;
          border:1px solid $border-color;
          &.tag-bits {
            margin-right:10px;
          }
          .cache-bit {
            border-right:1px solid $border-color;
            display:inline-block;
            width:10px;
            height:10px;
            &.valid-bit { 
              background:#efefef;
            }
            &.flash-search {
              background:#8ff;
            }
            &.flash-hit {
              background:#83f;
            }
            &.flash-miss {
              background:#e33;
            }
            &.hit-bit {
              background:#0A0;
              border-color:#0A0;
            }
          }
        }
      }
    }
  }
}

#main {
  height:100%;
}

#stage-container {
  padding:10px;
}
#stage {
  position:relative;
  height:100%;
  overflow:auto;
  svg.arrow {
    position:absolute;
    left:0px;
    top:0px;
  }
}


#timeline {
  width:100%;
  height:200px;
}

.timeline-target {
  position:relative;
  .timeline-container {
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height:100%;
    overflow:hidden;
  }
  .needle {
    width:1px;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    background:#c33;
  }
  .axis-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
    .axis {
      height:100%;
      border-left:1px solid #ddd;
      position:absolute;
      left:0px;
      top:0px;
      &.axis-major {
        border-left:1px solid #999;
      }  
    }
  }
  .event-container {
    position: absolute;
    width: 100%;
    height: 100%;
    .event-element {
      position:absolute;
      height:20px;
      background:#aae;
      &.active-event {
        background:#ee3;
      }
    }
  }
}
.timeline-buttons {
  position:absolute;
  height:30px;
  top:-30px;
  width:100%;
  left:0px;
}
