$main-background:     #fff;
$border-color:        #ccc;


html, body {
  background:$main-background;
  font-family:Consolas;
  padding:0px;
}

.address {
  border:1px solid $border-color;
  display:table;
  .labels {
    border-bottom:1px solid $border-color;
    display:table-row;
    div {
      display:table-cell;
      border-right:1px solid $border-color;
      padding:2px;
    }
  }
  .values {
    display:table-row;
    div {
      display:table-cell;
      border-right:1px solid $border-color;
      padding:2px;
    }
  }
}

.cache-set-container {
  padding-bottom:30px;
}

.cache {
  .bit-group {
    display: inline-block;
    border:1px solid $border-color;
    &.tag-bits {
      margin-right:10px;
    }
  }

  .cache-line {
    .cache-bit {
      border-right:1px solid $border-color;
      display:inline-block;
      width:10px;
      height:10px;
      &.valid-bit { 
        background:#efefef;
      }
    }
    &:hover {
      .cache-bit {
        background-color:#aea;
      }
    }
  }
  
}


#stage {
  padding:10px;
  div { position:relative; }
  position:relative;
  svg.arrow {
    position:absolute;
    left:0px;
    top:0px;
  }
}
